[submodule "aws-cf-templates"]
	path = aws-cf-templates
	url = https://github.com/widdix/aws-cf-templates.git
[submodule "blog/themes/ezhil"]
	path = site/themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
